APP_ENV=development
APP_NAME="Mini MVC"
APP_URL="http://localhost/mvc"

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=mvc_db

MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=hello@mvcframework.test
MAIL_FROM_NAME="MVC Framework"

# Paystack Configuration
PAYSTACK_PUBLIC_KEY="your-paystack-public-key"
PAYSTACK_SECRET_KEY="your-paystack-secret-key"

# Stripe Configuration
STRIPE_PUBLIC_KEY="your-stripe-public-key"
STRIPE_SECRET_KEY="your-stripe-secret-key"

# Flutterwave Configuration
FLUTTERWAVE_PUBLIC_KEY="your-flutterwave-public-key"
FLUTTERWAVE_SECRET_KEY="your-flutterwave-secret-key"
